In [ ]:
import requests
import json
import pandas as pd

In [12]:
with open('API.txt') as file:
    
    key = file.read() #cargo mi contraseña y la guardo en una variable

In [13]:


# URL de la API de Google Maps
API_URL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Parámetros de la consulta
params = {
  "location": "40.416709,-3.690286",
  "radius": 20000,
  "type": "restaurant",
  "keyword": "japonés",
  "language": "es",
  "key": key
}

# Realiza la consulta
response = requests.get(API_URL, params=params)

# Comprueba el código de respuesta
if response.status_code != 200:
  raise Exception("Error al realizar la consulta: {} {}".format(response.status_code, response.content))
else:
  print('Todo Ok con la conexion a la API')

# Decodifica la respuesta
data = json.loads(response.content)

# Obtiene la lista de resultados
results = data["results"]

# Filtra los resultados por puntuación
results = [result for result in results if result["rating"] is not None]

# Ordena los resultados por puntuación
results.sort(key=lambda result: result["rating"], reverse=True)

# Obtiene los 100 primeros resultados
results = results[:100]

# Crea la lista de Python
restaurantes = []
for result in results:
  restaurantes.append({
    "nombre": result["name"],
    "dirección": result["vicinity"],
    "puntuación": result["rating"],
    "número_de_valoraciones": result["user_ratings_total"]
  })

Todo Ok con la conexion a la API
[{'nombre': 'Restaurante Japonés Masa Naomi', 'dirección': 'C. de Ávila, 14, Madrid', 'puntuación': 4.7, 'número_de_valoraciones': 2362}, {'nombre': 'Restaurante Torikey', 'dirección': 'Pl. del Descubridor Diego de Ordás, 2, Madrid', 'puntuación': 4.7, 'número_de_valoraciones': 1340}, {'nombre': 'Restaurante Japonés - MIYAMA CASTELLANA', 'dirección': 'P.º de la Castellana, 45, Madrid', 'puntuación': 4.6, 'número_de_valoraciones': 1106}, {'nombre': '99 Sushi Bar Eurobuilding', 'dirección': 'C. del Padre Damián, 23, Madrid', 'puntuación': 4.6, 'número_de_valoraciones': 1120}, {'nombre': 'Izakaya Han', 'dirección': 'C. de San Bartolomé, 10, Madrid', 'puntuación': 4.6, 'número_de_valoraciones': 1176}, {'nombre': 'MUSASHI', 'dirección': 'C. de las Conchas, 4, Madrid', 'puntuación': 4.5, 'número_de_valoraciones': 2237}, {'nombre': 'Donzoko', 'dirección': 'Calle de Echegaray, 3, Madrid', 'puntuación': 4.5, 'número_de_valoraciones': 1739}, {'nombre': 'Sibuya Urban Sushi Bar', 'dirección': 'C. de Santo Tomé, 5, Madrid', 'puntuación': 4.5, 'número_de_valoraciones': 2244}, {'nombre': 'Restaurante Doki Doki', 'dirección': 'C/ de Villalar, 4, Madrid', 'puntuación': 4.5, 'número_de_valoraciones': 744}, {'nombre': 'Restaurante Sr. Ito', 'dirección': 'C. de Pelayo, 60, Madrid', 'puntuación': 4.5, 'número_de_valoraciones': 1552}, {'nombre': 'YOKALOKA', 'dirección': 'DENTRO DEL MERCADO DE ANTÓN MARTÍN, C. de Sta. Isabel, 5, Madrid', 'puntuación': 4.5, 'número_de_valoraciones': 2254}, {'nombre': '居酒屋-Konnichiwa de Fuencarral', 'dirección': 'Calle de Fuencarral, 98, Madrid', 'puntuación': 4.4, 'número_de_valoraciones': 3431}, {'nombre': 'Restaurante Japonés - ART & SUSHI', 'dirección': 'C. de Carranza, 9, Madrid', 'puntuación': 4.4, 'número_de_valoraciones': 1057}, {'nombre': 'Restaurante Japonés Morikaen', 'dirección': 'C. de Hilarión Eslava, 17, Madrid', 'puntuación': 4.4, 'número_de_valoraciones': 2316}, {'nombre': 'Zuma Madrid', 'dirección': 'P.º de la Castellana, 2, Madrid', 'puntuación': 4.3, 'número_de_valoraciones': 855}, {'nombre': 'Umiko Restaurante Japonés Fusión', 'dirección': 'C. de los Madrazo, 6, Madrid', 'puntuación': 4.3, 'número_de_valoraciones': 1066}, {'nombre': 'FUKU restaurante japonés', 'dirección': 'C. del Marqués de Villamejor, 8, Madrid', 'puntuación': 4.3, 'número_de_valoraciones': 1075}, {'nombre': 'Restaurante Japonés - NAGOYA TRAFALGAR', 'dirección': 'C. de Trafalgar, 7, Madrid', 'puntuación': 4.2, 'número_de_valoraciones': 809}, {'nombre': 'Miss Sushi Santa Ana', 'dirección': 'C. del Prado, 2, Madrid', 'puntuación': 4.2, 'número_de_valoraciones': 2187}, {'nombre': 'Hattori Hanzo', 'dirección': 'C. de Mesonero Romanos, 17, Madrid', 'puntuación': 3.9, 'número_de_valoraciones': 3484}]

In [14]:
import pandas as pd

japos=pd.DataFrame(restaurantes)

In [15]:
japos.head()

,nombre,dirección,puntuación,número_de_valoraciones
0,Restaurante Japonés Masa Naomi,"C. de Ávila, 14, Madrid",4.7,2362
1,Restaurante Torikey,"Pl. del Descubridor Diego de Ordás, 2, Madrid",4.7,1340
2,Restaurante Japonés - MIYAMA CASTELLANA,"P.º de la Castellana, 45, Madrid",4.6,1106
3,99 Sushi Bar Eurobuilding,"C. del Padre Damián, 23, Madrid",4.6,1120
4,Izakaya Han,"C. de San Bartolomé, 10, Madrid",4.6,1176
5,MUSASHI,"C. de las Conchas, 4, Madrid",4.5,2237
6,Donzoko,"Calle de Echegaray, 3, Madrid",4.5,1739
7,Sibuya Urban Sushi Bar,"C. de Santo Tomé, 5, Madrid",4.5,2244
8,Restaurante Doki Doki,"C/ de Villalar, 4, Madrid",4.5,744
9,Restaurante Sr. Ito,"C. de Pelayo, 60, Madrid",4.5,1552
10,YOKALOKA,"DENTRO DEL MERCADO DE ANTÓN MARTÍN, C. de Sta....",4.5,2254
11,居酒屋-Konnichiwa de Fuencarral,"Calle de Fuencarral, 98, Madrid",4.4,3431
12,Restaurante Japonés - ART & SUSHI,"C. de Carranza, 9, Madrid",4.4,1057
13,Restaurante Japonés Morikaen,"C. de Hilarión Eslava, 17, Madrid",4.4,2316
14,Zuma Madrid,"P.º de la Castellana, 2, Madrid",4.3,855
15,Umiko Restaurante Japonés Fusión,"C. de los Madrazo, 6, Madrid",4.3,1066
16,FUKU restaurante japonés,"C. del Marqués de Villamejor, 8, Madrid",4.3,1075
17,Restaurante Japonés - NAGOYA TRAFALGAR,"C. de Trafalgar, 7, Madrid",4.2,809
18,Miss Sushi Santa Ana,"C. del Prado, 2, Madrid",4.2,2187
19,Hattori Hanzo,"C. de Mesonero Romanos, 17, Madrid",3.9,3484

In [24]:
import requests
import json

# URL de la API de Google Maps
API_URL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Parámetros de la consulta
params = {
  "location": "40.416709,-3.690286",
  "radius": 20000,
  "type": "restaurant",
  "keyword": ["chino"]
  "language": "es",
  "key": key
}

# Realiza la consulta
response = requests.get(API_URL, params=params)

# Comprueba el código de respuesta
if response.status_code != 200:
  raise Exception("Error al realizar la consulta: {} {}".format(response.status_code, response.content))

# Decodifica la respuesta
data = json.loads(response.content)

# Obtiene la lista de resultados
results = data["results"]

# Filtra los resultados por puntuación
results = [result for result in results if result["rating"] is not None]

#Añade el tipo de restaurante
for result in results:
  result["tipo"] = result["types"][0]


# Ordena los resultados por puntuación
results.sort(key=lambda result: result["rating"], reverse=True)

In [26]:
res=pd.DataFrame(results)

In [33]:
chinos= res.drop(columns=['icon','icon_background_color','icon_mask_base_uri','opening_hours','place_id','plus_code','reference','scope','vicinity'])

KeyError: "['icon', 'icon_background_color', 'icon_mask_base_uri', 'opening_hours', 'place_id', 'plus_code', 'reference', 'scope', 'vicinity'] not found in axis"

In [35]:
chinos.to_csv('Chin.csv',index= False)

In [32]:

import requests
import json

# URL de la API de Google Maps
API_URL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Parámetros de la consulta
params = {
  "location": "40.416709,-3.690286",
  "radius": 20000,
  "type": "restaurant",
  "keyword": ["coreano"],
  "language": "es",
  "key": key
}

# Realiza la consulta
response = requests.get(API_URL, params=params)

# Comprueba el código de respuesta
if response.status_code != 200:
  raise Exception("Error al realizar la consulta: {} {}".format(response.status_code, response.content))

# Decodifica la respuesta
data = json.loads(response.content)

# Obtiene la lista de resultados
results = data["results"]

# Filtra los resultados por puntuación
results = [result for result in results if result["rating"] is not None]

#Añade el tipo de restaurante
for result in results:
  result["tipo"] = result["types"][0]


# Ordena los resultados por puntuación
results.sort(key=lambda result: result["rating"], reverse=True)

,business_status,geometry,name,photos,price_level,rating,types,user_ratings_total,tipo
15,OPERATIONAL,"{'location': {'lat': 40.4314693, 'lng': -3.715...",Hong Kong City,"[{'height': 2322, 'html_attributions': ['<a hr...",1.0,4.0,"[meal_delivery, restaurant, food, point_of_int...",312,meal_delivery
16,OPERATIONAL,"{'location': {'lat': 40.414331, 'lng': -3.6701...",China City,"[{'height': 5472, 'html_attributions': ['<a hr...",1.0,4.0,"[restaurant, food, point_of_interest, establis...",558,restaurant
17,OPERATIONAL,"{'location': {'lat': 40.3708461, 'lng': -3.613...",Restaurante Asiático Xing,"[{'height': 1080, 'html_attributions': ['<a hr...",1.0,3.9,"[restaurant, food, point_of_interest, establis...",954,restaurant
18,OPERATIONAL,"{'location': {'lat': 40.3784309, 'lng': -3.769...",Restaurante Guang Zhou— Zhou Hong,"[{'height': 900, 'html_attributions': ['<a hre...",1.0,3.8,"[meal_delivery, restaurant, food, point_of_int...",408,meal_delivery
19,OPERATIONAL,"{'location': {'lat': 40.4304676, 'lng': -3.644...",Restaurante Chino Da Yuan,"[{'height': 3024, 'html_attributions': ['<a hr...",1.0,3.8,"[restaurant, food, point_of_interest, establis...",310,restaurant