In [1]:
import requests
import json
import pandas as pd

import sys
sys.path.append("..")
from src.funciones import *

In [2]:
with open('API.txt') as file:
    
    key = file.read() #cargo mi contraseña y la guardo en una variable

In [3]:
# URL de la API de Google Maps
API_URL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Parámetros de la consulta
params = {
  "location": "40.416709,-3.690286",
  "radius": 20000,
  "type": "restaurant",
  "keyword": "japonés",
  "language": "es",
  "key": key
}

# Realiza la consulta
response = requests.get(API_URL, params=params)

# Comprueba el código de respuesta
if response.status_code != 200:
  raise Exception("Error al realizar la consulta: {} {}".format(response.status_code, response.content))
else:
  print('Todo Ok con la conexion a la API')

# Decodifica la respuesta
data = json.loads(response.content)

# Obtiene la lista de resultados
results = data["results"]

# Filtra los resultados por puntuación
results = [result for result in results if result["rating"] is not None]

# Ordena los resultados por puntuación
results.sort(key=lambda result: result["rating"], reverse=True)

# Obtiene los 100 primeros resultados
results = results[:100]

# Crea la lista de Python
restaurantes = []
for result in results:
  restaurantes.append({
    "nombre": result["name"],
    "dirección": result["vicinity"],
    "puntuación": result["rating"],
    "número_de_valoraciones": result["user_ratings_total"]
  })

Todo Ok con la conexion a la API

In [4]:
import pandas as pd

japos=pd.DataFrame(restaurantes)

In [5]:
japos.head()

,nombre,dirección,puntuación,número_de_valoraciones
0,Restaurante Japonés Masa Naomi,"C. de Ávila, 14, Madrid",4.7,2362
1,Restaurante Torikey,"Pl. del Descubridor Diego de Ordás, 2, Madrid",4.7,1340
2,Restaurante Japonés - MIYAMA CASTELLANA,"P.º de la Castellana, 45, Madrid",4.6,1106
3,99 Sushi Bar Eurobuilding,"C. del Padre Damián, 23, Madrid",4.6,1120
4,Izakaya Han,"C. de San Bartolomé, 10, Madrid",4.6,1176

In [6]:
import requests
import json

# URL de la API de Google Maps
API_URL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Parámetros de la consulta
params = {
  "location": "40.416709,-3.690286",
  "radius": 20000,
  "type": "restaurant",
  "keyword": ["chino"],
  "language": "es",
  "key": key
}

# Realiza la consulta
response = requests.get(API_URL, params=params)

# Comprueba el código de respuesta
if response.status_code != 200:
  raise Exception("Error al realizar la consulta: {} {}".format(response.status_code, response.content))

# Decodifica la respuesta
data = json.loads(response.content)

# Obtiene la lista de resultados
results = data["results"]

# Filtra los resultados por puntuación
results = [result for result in results if result["rating"] is not None]

#Añade el tipo de restaurante
for result in results:
  result["tipo"] = result["types"][0]


# Ordena los resultados por puntuación
results.sort(key=lambda result: result["rating"], reverse=True)

In [7]:
res=pd.DataFrame(results)

In [8]:
chinos= res.drop(columns=['icon','icon_background_color','icon_mask_base_uri','opening_hours','place_id','plus_code','reference','scope','vicinity'])

In [9]:
chinos.to_csv('Chin.csv',index= False)

In [10]:
consulta_API('')

In [12]:
cor=pd.DataFrame(results)

In [14]:
cor= cor.drop(columns=['icon','icon_background_color','icon_mask_base_uri','opening_hours','place_id','plus_code','reference','scope','vicinity'])

In [15]:
cor

,business_status,geometry,name,photos,price_level,rating,types,user_ratings_total,tipo
0,OPERATIONAL,"{'location': {'lat': 40.4213139, 'lng': -3.705...",El Buda Feliz 1974,"[{'height': 3456, 'html_attributions': ['<a hr...",1.0,4.5,"[restaurant, food, point_of_interest, establis...",5078,restaurant
1,OPERATIONAL,"{'location': {'lat': 40.4585018, 'lng': -3.659...",Gran Hong Kong,"[{'height': 440, 'html_attributions': ['<a hre...",2.0,4.5,"[restaurant, food, point_of_interest, establis...",816,restaurant
2,OPERATIONAL,"{'location': {'lat': 40.4197018, 'lng': -3.709...",Xiaoman,"[{'height': 3362, 'html_attributions': ['<a hr...",NaN,4.5,"[restaurant, food, point_of_interest, establis...",437,restaurant
3,OPERATIONAL,"{'location': {'lat': 40.4817385, 'lng': -3.665...",Ni Hao,"[{'height': 2896, 'html_attributions': ['<a hr...",1.0,4.4,"[restaurant, food, point_of_interest, establis...",1854,restaurant
4,OPERATIONAL,"{'location': {'lat': 40.4341882, 'lng': -3.705...",Restaurante Long Tu,"[{'height': 3792, 'html_attributions': ['<a hr...",1.0,4.4,"[restaurant, food, point_of_interest, establis...",371,restaurant
5,OPERATIONAL,"{'location': {'lat': 40.4471435, 'lng': -3.663...",China Té,"[{'height': 1224, 'html_attributions': ['<a hr...",1.0,4.3,"[restaurant, food, point_of_interest, establis...",1371,restaurant
6,OPERATIONAL,"{'location': {'lat': 40.3949963, 'lng': -3.698...",Restaurante Chino Gran Siglo,"[{'height': 2184, 'html_attributions': ['<a hr...",1.0,4.3,"[restaurant, food, point_of_interest, establis...",636,restaurant
7,OPERATIONAL,"{'location': {'lat': 40.3878588, 'lng': -3.765...",Restaurante Guang Zhou,"[{'height': 3024, 'html_attributions': ['<a hr...",1.0,4.3,"[restaurant, food, point_of_interest, establis...",1532,restaurant
8,OPERATIONAL,"{'location': {'lat': 40.4318509, 'lng': -3.659...",Palacio Imperial,"[{'height': 3024, 'html_attributions': ['<a hr...",1.0,4.3,"[restaurant, food, point_of_interest, establis...",2207,restaurant
9,OPERATIONAL,"{'location': {'lat': 40.4646555, 'lng': -3.721...",Oriental Palace,"[{'height': 3000, 'html_attributions': ['<a hr...",1.0,4.3,"[restaurant, food, point_of_interest, establis...",839,restaurant
10,OPERATIONAL,"{'location': {'lat': 40.40180000000001, 'lng':...",Restaurante Buen Gusto,"[{'height': 3024, 'html_attributions': ['<a hr...",2.0,4.2,"[restaurant, food, point_of_interest, establis...",1959,restaurant
11,OPERATIONAL,"{'location': {'lat': 40.4498576, 'lng': -3.702...",Restaurante Chino Central,"[{'height': 1536, 'html_attributions': ['<a hr...",1.0,4.1,"[restaurant, food, point_of_interest, establis...",657,restaurant
12,OPERATIONAL,"{'location': {'lat': 40.3516311, 'lng': -3.686...",Restaurante Chino Prosperidad II,"[{'height': 3000, 'html_attributions': ['<a hr...",1.0,4.1,"[restaurant, food, point_of_interest, establis...",785,restaurant
13,OPERATIONAL,"{'location': {'lat': 40.3850151, 'lng': -3.647...",Wang Sheng,"[{'height': 4144, 'html_attributions': ['<a hr...",1.0,4.1,"[restaurant, food, point_of_interest, establis...",497,restaurant
14,OPERATIONAL,"{'location': {'lat': 40.4109643, 'lng': -3.657...",Restaurante Dong Cheng,"[{'height': 4640, 'html_attributions': ['<a hr...",1.0,4.1,"[restaurant, food, point_of_interest, establis...",2814,restaurant
15,OPERATIONAL,"{'location': {'lat': 40.4314693, 'lng': -3.715...",Hong Kong City,"[{'height': 2322, 'html_attributions': ['<a hr...",1.0,4.0,"[meal_delivery, restaurant, food, point_of_int...",312,meal_delivery
16,OPERATIONAL,"{'location': {'lat': 40.414331, 'lng': -3.6701...",China City,"[{'height': 5472, 'html_attributions': ['<a hr...",1.0,4.0,"[restaurant, food, point_of_interest, establis...",558,restaurant
17,OPERATIONAL,"{'location': {'lat': 40.3708461, 'lng': -3.613...",Restaurante Asiático Xing,"[{'height': 1080, 'html_attributions': ['<a hr...",1.0,3.9,"[restaurant, food, point_of_interest, establis...",954,restaurant
18,OPERATIONAL,"{'location': {'lat': 40.3784309, 'lng': -3.769...",Restaurante Guang Zhou— Zhou Hong,"[{'height': 900, 'html_attributions': ['<a hre...",1.0,3.8,"[meal_delivery, restaurant, food, point_of_int...",408,meal_delivery
19,OPERATIONAL,"{'location': {'lat': 40.4304676, 'lng': -3.644...",Restaurante Chino Da Yuan,"[{'height': 3024, 'html_attributions': ['<a hr...",1.0,3.8,"[restaurant, food, point_of_interest, establis...",310,restaurant