In [2]:
import requests
import pandas as pd

url = 'https://datos.madrid.es/egob/catalogo/209548-485-censo-locales-historico.json'  

response = requests.get(url)

if response.status_code == 200:
    
    data = response.json()
    df = pd.DataFrame(data)

else:
    print("No se pudo descargar el archivo JSON.")

In [6]:
data=df.copy()
data.head()

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe,fx_carga,fx_datos_ini,fx_datos_fin,coordenada_x_agrupacion,coordenada_y_agrupacion
0,285011591,7,CHAMBERI,701,GAZTAMBIDE,1,7023,23,439617.089469,4.476581e+06,...,CONSTRUCCIÓN,43,ACTIVIDADES DE CONSTRUCCIÓN ESPECIALIZADA Y AC...,432001,"INSTALACIONES ELECTRICAS, DE FONTANERIA Y OTRA...",2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
1,285011593,7,CHAMBERI,701,GAZTAMBIDE,1,7023,23,439581.600000,4.476582e+06,...,ADMINISTRACIÓN PÚBLICA Y DEFENSA; SEGURIDAD SO...,84,ADMINISTRACIÓN PÚBLICA Y DEFENSA; SEGURIDAD SO...,840001,ADMINISTRACION PUBLICA Y DEFENSA. SEGURIDAD SO...,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
2,285011594,7,CHAMBERI,701,GAZTAMBIDE,1,7023,23,439591.600000,4.476582e+06,...,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
3,285011596,7,CHAMBERI,702,ARAPILES,2,7024,24,439691.600000,4.476634e+06,...,ACTIVIDADES ADMINISTRATIVAS Y SERVICIOS AUXLIARES,82,ACTIVIDADES ADMINISTRATIVAS DE OFICINA Y OTRAS...,821001,ACTIVIDADES ADMINISTRATIVAS Y AUXILIARES DE OF...,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
4,285011598,7,CHAMBERI,702,ARAPILES,2,7024,24,439697.600000,4.476699e+06,...,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHÍCULOS DE...",471104,COMERCIO AL POR MENOR DE PRODUCTOS ALIMENTICIO...,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN

In [14]:
data.desc_seccion.value_counts() #HOSTELERIA SERVICIOS DE COMIDAS Y BEBIDAS=desc_division desc_epigrafe=BAR RESTAURANTE BAR CON COCINA

desc_seccion
COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACIÓN DE VEHÍCULOS DE MOTOR Y MOTOCICLETAS     51523
VALOR NULO EN ORIGEN                                                                      39270
HOSTELERÍA                                                                                22557
OTROS SERVICIOS                                                                           14677
ACTIVIDADES SANITARIAS Y DE SERVICIOS SOCIALES                                             5442
EDUCACIÓN                                                                                  5412
ACTIVIDADES ADMINISTRATIVAS Y SERVICIOS AUXLIARES                                          4055
TRANSPORTE Y ALMACENAMIENTO                                                                3709
ACTIVIDADES ARTÍSTICAS, RECREATIVAS Y DE ENTRETENIMIENTO                                   3499
INDUSTRIA MANUFACTURERA                                                                    3465
ACTIVIDADES PROFESIONALES, CIENTÍFICAS Y TÉCNICAS                                          3386
CONSTRUCCIÓN                                                                               3122
SIN ACTIVIDAD                                                                              2552
ACTIVIDADES FINANCIERAS Y DE SEGUROS                                                       2490
INFORMACIÓN Y COMUNICACIONES                                                               1899
ACTIVIDADES INMOBILIARIAS                                                                  1375
ADMINISTRACIÓN PÚBLICA Y DEFENSA; SEGURIDAD SOCIAL OBLIGATORIA                              731
ACTIVIDADES DE ORGANIZACIONES Y ORGANISMOS EXTRATERRITORIALES                               135
SUMINISTRO DE ENERGÍA ELÉCTRICA, GAS, VAPOR Y AIRE ACONDICIONADO                            130
SUMINISTRO DE AGUA, ACTIVIDADES DE SANEAMIENTO, GESTIÓN DE RESIDUOS Y DESCONTAMINACIÓN       78
AGRICULTURA, GANADERÍA, SILVICULTURA Y PESCA                                                  9
INDUSTRIAS EXTRACTIVAS                                                                        3
Name: count, dtype: int64

In [15]:
nuevo_df = df[(df['desc_seccion'] == 'HOSTELERIA') & (df['desc_division'] == 'SERVICIO DE COMIDAS Y BEBIDAS')]

restaurantes = data[(data['desc_seccion'] == 'HOSTELERÍA') & (df['desc_division'] == 'SERVICIOS DE COMIDAS Y BEBIDAS') & (data['desc_epigrafe'] == 'BAR RESTAURANTE')]

In [16]:
restaurantes

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe,fx_carga,fx_datos_ini,fx_datos_fin,coordenada_x_agrupacion,coordenada_y_agrupacion
682,285012112,7,CHAMBERI,703,TRAFALGAR,3,7073,73,440644.59,4475625.53,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
929,285012294,7,CHAMBERI,704,ALMAGRO,4,7090,90,440672.60,4476600.53,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
970,285020718,12,USERA,1202,ORCASUR,2,12108,108,441066.57,4470254.52,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
1007,285014867,8,FUENCARRAL-EL PARDO,804,EL PILAR,4,8068,68,439674.62,4480693.55,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
1012,285016194,8,FUENCARRAL-EL PARDO,803,PEÑA GRANDE,3,8049,49,439136.63,4480869.56,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169389,285002854,1,CENTRO,103,CORTES,3,1069,69,440641.59,4474109.53,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
169401,285002885,1,CENTRO,103,CORTES,3,1071,71,440877.59,4473970.52,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
169412,285002937,1,CENTRO,104,JUSTICIA,4,1074,74,440831.59,4474660.52,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
169413,285002942,1,CENTRO,104,JUSTICIA,4,1074,74,440880.59,4474659.52,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN
169507,285003040,1,CENTRO,104,JUSTICIA,4,1079,79,440891.59,4474940.52,...,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561004,BAR RESTAURANTE,2023-10-08T07:01:25,2023-10-01,2023-10-01,NaN,NaN

In [17]:
restaurantes = restaurantes.drop_duplicates(subset='id_local', keep=False)

In [19]:
restaurantes= restaurantes.drop(columns=['id_distrito_local','id_barrio_local','cod_barrio_local','id_seccion_censal_local','desc_seccion_censal_local','desc_seccion','id_division','desc_division','id_epigrafe','desc_epigrafe','fx_carga','fx_datos_ini','fx_datos_fin','coordenada_x_agrupacion','coordenada_y_agrupacion'])

In [23]:
restaurantes = restaurantes.drop(columns=['id_tipo_acceso_local','desc_tipo_acceso_local','id_situacion_local','desc_situacion_local','id_vial_edificio','num_acceso','cal_acceso','id_agrupacion','nombre_agrupacion','id_tipo_agrup','desc_tipo_agrup','id_planta_agrupado','id_local_agrupado'])

KeyError: "['id_tipo_acceso_local', 'desc_tipo_acceso_local', 'id_situacion_local', 'desc_situacion_local', 'id_vial_edificio', 'num_acceso', 'cal_acceso', 'id_agrupacion', 'nombre_agrupacion', 'id_tipo_agrup', 'desc_tipo_agrup', 'id_planta_agrupado', 'id_local_agrupado'] not found in axis"

In [26]:
restaurantes = restaurantes.drop(columns=['clase_vial_edificio',
       'desc_vial_edificio', 'id_ndp_edificio', 'id_clase_ndp_edificio',
       'nom_edificio', 'num_edificio', 'cal_edificio', 'secuencial_local_PC',
       'id_vial_acceso', 'clase_vial_acceso', 'desc_vial_acceso',
       'id_ndp_acceso', 'id_clase_ndp_acceso', 'nom_acceso',
       'id_seccion'])

In [28]:
restaurantes=restaurantes.reset_index(drop=True)

In [31]:
restaurantes = restaurantes[restaurantes['rotulo']!= 'SIN ROTULO']

In [35]:
restaurantes.rotulo.value_counts()

rotulo
BAR RESTAURANTE              90
BAR-RESTAURANTE              39
RESTAURANTE                  31
ROTULO NO INFORMADO          31
VIPS                         24
                             ..
TABERNA ANDALUZA              1
CAFETERIA BAR NUMANCIA        1
Ó´PULPEIRO                    1
BAR RESTAURANTE TITA-TITO     1
BISTRONOMIQUE                 1
Name: count, Length: 4051, dtype: int64

In [37]:
condicion = (df['rotulo'] == "BAR-RESTAURANTE") | (df['rotulo'] == "ROTULO NO INFORMADO")

<class 'pandas.core.frame.DataFrame'>
Index: 4563 entries, 0 to 4571
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_local             4563 non-null   int64
 1   desc_distrito_local  4563 non-null   object
 2   desc_barrio_local    4563 non-null   object
 3   coordenada_x_local   4563 non-null   float64
 4   coordenada_y_local   4563 non-null   float64
 5   rotulo               4563 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 249.5+ KB