In [8]:
import pandas as pd

import sys
sys.path.append("..")
from src.funciones import *

In [9]:
ruta_al_csv = '..\data\Tripadvisor2'
df = pd.read_csv(ruta_al_csv)
data=df.copy()

In [10]:
data.columns=['Nombre','Opiniones','Tipo','Precio','Cosas']

eliminar=['Patrocinado', 'Descubrir','MICHELIN','Opinión']
data = data[~data['Nombre'].isin(eliminar)]

data['Nombre'] = data['Nombre'].str.replace(r'\d+\.\s', '', regex=True) #eliminamos numeros de nombre
data = data.reset_index(drop=True)

data['Opiniones'] = data['Opiniones'].str.replace('Abierto ahora', '')
data['Opiniones'] = data['Opiniones'].str.replace('Cerrado ahora', '')

data['Tipo'] = data['Tipo'].str.replace(r'Carta$', '', regex=True)
data['Precio'] = data['Tipo'].str.extract(r'(€+)')


def precio(tipo):
    if '€€€€' in tipo:
        return 'Alto'
    elif '€€ - €€€' in tipo:
        return 'Medio'
    elif '€' in tipo:
        return 'Bajo'
    else:
        return ''
    

data['Precio'] = data['Tipo'].apply(precio)
data['Tipo'] = data['Tipo'].str.replace('€', '', regex=False)
data['Tipo'] = data['Tipo'].str.replace('-', '', regex=False)
data.head()


limpieza_tipo(data)

In [11]:
import regex as re

cerrado = [re.sub(r'Cerrado hoy', '', cadena) for cadena in data.Opiniones]
minutos = [re.sub(r'Abre en 6 minutos', '', opinion) for opinion in data.Opiniones]

data['Opiniones'] = data['Opiniones'].apply(lambda x: re.sub(r'Abre en 6 minutos', '', x))
data['Opiniones'] = data['Opiniones'].apply(lambda x: re.sub(r'Cerrado hoy', '', x))

In [12]:
def eliminar_palabras(texto):
    palabras_a_eliminar = ["Latina", "Francesa", "Saludable", "Internacional",'rápida','saludable']
    patron = r'\b(?:' + '|'.join(palabras_a_eliminar) + r')\b'
    return re.sub(patron, '', texto)

# Aplica la función a la columna "Tipo"

data['Tipo'] = data['Tipo'].apply(eliminar_palabras)

In [13]:
data.head()

              Nombre      Opiniones          Tipo Precio Cosas
0  Pizzeria Fratelli  460 opiniones      Italiana  Medio   NaN
1         Asian Army   52 opiniones  Vietnamita    Medio   NaN
2           Menomale  204 opiniones      Italiana  Medio   NaN
3              Borax  445 opiniones    Caribeña    Medio   NaN
4             Éccolo  133 opiniones      Italiana  Medio   NaN

In [28]:
valores_unicos = data['Tipo'].value_counts()
valores_unicos = valores_unicos[valores_unicos == 1]

# Convierte los valores únicos en una lista
valores_unicos_lista = valores_unicos.index.tolist()
valores_unicos_lista

['Venezolana',
 'Americana ',
 'Colombiana',
 'Venezolana  ',
 'Filipina',
 'LatinaComida   ',
 'LatinaInternacional  ',
 'Comida rápidaInternacional  ',
 'FusiónSaludable  ',
 'Argentino  ',
 'Americana  ',
 'Coreana  ',
 'Turca  ']

In [29]:
eliminar=['LatinaComida   ',
 'LatinaInternacional  ',
 'Comida rápidaInternacional  ',
 'FusiónSaludable  ',]

indices=data.index[data['Tipo'].isin(eliminar)]

Index([49, 114, 117, 122], dtype='int64')

In [34]:
data = data.drop(indices)

data.drop(indices, inplace=True)