In [2]:
import pandas as pd

import sys
sys.path.append("..")
from src.funciones import *

In [6]:
ruta_al_csv = '..\data\Tripadvisor2'
df = pd.read_csv(ruta_al_csv)
data=df.copy()

In [7]:
data.columns=['Nombre','Opiniones','Tipo','Precio','Cosas']

eliminar=['Patrocinado', 'Descubrir','MICHELIN','Opinión']
data = data[~data['Nombre'].isin(eliminar)]

data['Nombre'] = data['Nombre'].str.replace(r'\d+\.\s', '', regex=True) #eliminamos numeros de nombre
data = data.reset_index(drop=True)

data['Opiniones'] = data['Opiniones'].str.replace('Abierto ahora', '')
data['Opiniones'] = data['Opiniones'].str.replace('Cerrado ahora', '')

data['Tipo'] = data['Tipo'].str.replace(r'Carta$', '', regex=True)
data['Precio'] = data['Tipo'].str.extract(r'(€+)')


def precio(tipo):
    if '€€€€' in tipo:
        return 'Alto'
    elif '€€ - €€€' in tipo:
        return 'Medio'
    elif '€' in tipo:
        return 'Bajo'
    else:
        return ''
    

data['Precio'] = data['Tipo'].apply(precio)
data['Tipo'] = data['Tipo'].str.replace('€', '', regex=False)
data['Tipo'] = data['Tipo'].str.replace('-', '', regex=False)
data.head()


limpieza_tipo(data)

In [23]:
import regex as re

cerrado = [re.sub(r'Cerrado hoy', '', cadena) for cadena in data.Opiniones]
minutos = [re.sub(r'Abre en 6 minutos', '', opinion) for opinion in data.Opiniones]

data['Opiniones'] = data['Opiniones'].apply(lambda x: re.sub(r'Abre en 6 minutos', '', x))
data['Opiniones'] = data['Opiniones'].apply(lambda x: re.sub(r'Cerrado hoy', '', x))

,Nombre,Opiniones,Tipo,Precio,Cosas
0,Pizzeria Fratelli,460 opiniones,Italiana,Medio,NaN
1,Asian Army,52 opiniones,Vietnamita,Medio,NaN
2,Menomale,204 opiniones,Italiana,Medio,NaN
3,Borax,445 opiniones,CaribeñaLatina,Medio,NaN
4,Éccolo,133 opiniones,Italiana,Medio,NaN
5,Macuto / Auténtico Latino,41 opiniones,Mexicana,Medio,NaN
6,MEGU,129 opiniones,China,Medio,NaN
7,Ristorante Reginella,681 opiniones,Italiana,Medio,NaN
8,La Pagoda,336 opiniones,Japonesa,Medio,NaN
9,Pasta Mito,221 opiniones,Italiana,Medio,NaN
10,Asia Te,163 opiniones,China,Medio,NaN
11,izakaya Han,469 opiniones,Japonesa,Medio,NaN
12,Muchi Fusion Food,144 opiniones,China,Bajo,NaN
13,Tsukuri Soba,37 opiniones,China,Medio,NaN
14,Sibuya Urban Sushi Bar Madrid C/Orense,851 opiniones,Japonesa,Medio,NaN
15,Pituca Lounge,185 opiniones,Japonesa,Medio,NaN
16,La Piperna,478 opiniones,Italiana,Medio,NaN
17,Oven Mozzarella,655 opiniones,Italiana,Medio,NaN
18,Sibuya Urban Sushi Bar Madrid C/ibiza,716 opiniones,Japonesa,Medio,NaN
19,Sibuya Urban Sushi Bar Chueca,1006 opiniones,Japonesa,Medio,NaN
20,Kitchen 154 (Vallehermoso),472 opiniones,India,Medio,NaN
21,La Capricciosa Italiana,121 opiniones,Italiana,Bajo,NaN
22,Peppe Fusco The Italian,601 opiniones,Italiana,Medio,NaN
23,Casa Jaguar Madrid,696 opiniones,Mexicana,Medio,NaN
24,BAMMBAO,15 opiniones,China,Medio,NaN
25,Kathmandu Tandoori House,2667 opiniones,India,Medio,NaN
26,Pizzamascalzone,156 opiniones,Italiana,Medio,NaN
27,Akma B o B,25 opiniones,Japonesa,Medio,NaN
28,CHILA,87 opiniones,China,Medio,NaN
29,Sto Globo Sushi Room,344 opiniones,Japonesa,Medio,NaN
30,Nepali Kathmandu Tandoori House,76 opiniones,India,Medio,NaN
31,Acqua In Bocca Trattoria,90 opiniones,Italiana,Medio,NaN
32,Trattoria Pizzeria A'Fenestella,264 opiniones,Italiana,Medio,NaN
33,Nunca Cocinas Sin Hambre,23 opiniones,Coreana,Medio,NaN
34,Gramabar,1656 opiniones,Americana,Medio,NaN
35,Sr. Ito,972 opiniones,Japonesa,Medio,NaN
36,Trattoria La Tavernetta,326 opiniones,Italiana,Medio,NaN
37,La Cabaña Argentina,2446 opiniones,Restaurante de carneBarbacoa,Medio,NaN
38,Chow Chow Madrid,428 opiniones,Japonesa,Alto,NaN
39,Trattoria da Alfredo,115 opiniones,Italiana,Medio,NaN
40,Restaurante Luxury,546 opiniones,China,Medio,NaN
41,Yakiniku Rikyu,265 opiniones,Japonesa,Medio,NaN
42,Restaurante Vietnam Express,250 opiniones,Fusión,Medio,NaN
43,Lumbini Tandoori,174 opiniones,India,Medio,NaN
44,Kaiten Sushi Madrid,264 opiniones,Japonesa,Medio,NaN
45,Flavia Restaurant & Bar,1056 opiniones,Italiana,Medio,NaN
46,Sushi Yakuza,18 opiniones,Japonesa,,NaN
47,Trattoria Adriana,42 opiniones,Italiana,Bajo,NaN
48,Manzoni Trattoria,175 opiniones,Italiana,Medio,NaN
49,Guasa Madrid,75 opiniones,FusiónSaludable,Medio,NaN
50,Emma y Julia,542 opiniones,Italiana,Medio,NaN
51,Passaparola L´Originale,300 opiniones,Italiana,Medio,NaN
52,Pizzie & Dixie,210 opiniones,Italiana,Medio,NaN
53,Restaurante Mr Vu,154 opiniones,Sushi,Medio,NaN
54,Tangchu,38 opiniones,China,Medio,NaN
55,Tuk Tuk Asian Street Food Goya,225 opiniones,Filipina,Bajo,NaN
56,Noi Due Ristorante Pizzeria,193 opiniones,Italiana,Medio,NaN
57,Tuk Tuk Asian Street Food Cisneros,469 opiniones,Tailandesa,Medio,NaN
58,Sorgo Rojo,180 opiniones,Japonesa,Medio,NaN
59,Il Pastaio,317 opiniones,Italiana,Medio,NaN

In [29]:
data.Tipo.replace('Latina','')
data.Tipo.replace ('rápida','')
data.Tipo.replace ('saludable', '')
data.Tipo.value_counts()

Tipo
Italiana                          108
Japonesa                           43
China                              20
India                              14
China                              10
Japonesa                            9
Mexicana                            6
Mexicana                            6
Sushi                               4
CaribeñaLatina                      3
Vietnamita                          3
PeruanaLatina                       3
Fusión                              2
Tailandesa                          2
Japonesa rápida                     2
FrancesaCaribeña                    2
CaribeñaLatina                      2
MediterráneaSaludable               1
LatinaColombiana                    1
Mediterránea                        1
Americana rápida                    1
LatinaVenezolana                    1
Peruana                             1
IndiaSaludable                      1
FusiónSaludable                     1
LatinaVenezolana                    1
LatinaComida rápida                 1
Coreana                             1
LatinaInternacional                 1
Comida rápidaInternacional          1
Americana                           1
Filipina                            1
Restaurante de carneBarbacoa        1
TurcaDe Oriente Medio               1
Name: count, dtype: int64

In [34]:
def eliminar_palabras(texto):
    palabras_a_eliminar = ["Latina", "Francesa", "Saludable", "Internacional"]
    patron = r'\b(?:' + '|'.join(palabras_a_eliminar) + r')\b'
    return re.sub(patron, '', texto)

# Aplica la función a la columna "Tipo"
data['Tipo'] = data['Tipo'].apply(eliminar_palabras)

In [35]:
data.Tipo.value_counts()

Tipo
Italiana                          108
Japonesa                           43
China                              20
India                              14
China                              10
Japonesa                            9
Mexicana                            6
Mexicana                            6
Sushi                               4
CaribeñaLatina                      3
Vietnamita                          3
PeruanaLatina                       3
Fusión                              2
Tailandesa                          2
Japonesa rápida                     2
FrancesaCaribeña                    2
CaribeñaLatina                      2
MediterráneaSaludable               1
LatinaColombiana                    1
Mediterránea                        1
Americana rápida                    1
LatinaVenezolana                    1
Peruana                             1
IndiaSaludable                      1
FusiónSaludable                     1
LatinaVenezolana                    1
LatinaComida rápida                 1
Coreana                             1
LatinaInternacional                 1
Comida rápidaInternacional          1
Americana                           1
Filipina                            1
Restaurante de carneBarbacoa        1
TurcaDe Oriente Medio               1
Name: count, dtype: int64